<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombre">
        <p>Martin Fauci</p>
        <p>Full Stack Developer JR.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>Hola! Mi nombre es Martin Fauci y soy un programador junior en busqueda de su primer experiencia laboral en el mundo de las tecnologías de la información y comunicación. Estoy continuamente en proceso de aprendizaje de nuevas tecnologías y perfeccionando las que ya conozco.</p>
        </span>
    </div>
</div>
