<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.jpg" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" id="nombre">
        <p>{{usuario.nombre}} {{usuario.apellido}}</p>
        <p>{{usuario.titulo}}</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mi</h1>
            <p>{{usuario.descripcion}} Estoy continuamente en proceso de aprendizaje de nuevas tecnologías y perfeccionando las que ya conozco.</p>
        </span>
    </div>
</div>
