<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="https://www.linkedin.com/in/martin-fauci/"><img src="../../../assets/linkedin-logo.png" id="linkedin" ></a>
                <a href="https://github.com/Kalalo7"><img src="../../../assets/github-logo-icon.png" alt="github" ></a>
                <a href="https://twitter.com/MartinFauci"><img src="../../../assets/twitter-logo-11.png" alt= "twitter" ></a>
                <a href="https://www.instagram.com/martinfkalalo/"><img src="../../../assets/instagram-logo-18.png" alt="instagram" ></a>
                <a href="https://www.facebook.com/martin.fauci"><img src="../../../assets/facebook-logo-5-1.png" alt="facebook" ></a>
                <button type="button" class="btn btn-outline-info">Ingresar</button>
        </div>
    </div>
</div>

