<div class="row">
    <h1>Skills</h1>
    <div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="90"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/373669/html.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#FF5733'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
<div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="81"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/153993/css.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#629AE3'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
<div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="45"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/349419/javascript.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#FFC300'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
<div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="55"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/355190/reactjs.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#67C0EA'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
<div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/353498/bootstrap.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#191CA5'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
<div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="68"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/353782/git-icon.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#F7731E'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
<div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="70"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/241838/responsive.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#58E2E0'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
<div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="65"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/303617/kotlin-1-logo.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#8F51D1'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
<div class="col-sm-4 com-md-4 col-lg-4">
    <circle-progress
    [percent]="60"
    [radius]="66"
    [imageSrc]="'https://www.svgrepo.com/show/354792/android.svg'"
    [showImage]="true"
    [imageHeight]="75"
    [imageWidth]="75"
    [outerStrokeWidth]="9"
    [innerStrokeWidth]="3"
    [showUnits]="false"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#7EDE47'"
    [animation]="true"
    [animationDuration]="1500"
  ></circle-progress>
</div>
</div>