<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Cyber "Y... Bueh"  </h1> - <h3> (05/2009) / (10/2009)</h3></li>
            <p> Atención al cliente, mantenimiento y arreglos de PC, venta de insumos, cierre de caja, tareas varias</p>
        </ul>
        <ul>
            <li><h1>Jumbo - Cencosud </h1> - <h3> (12/2009) / (Actualidad)</h3></li>
            <p> Cajero “B”, sector línea de cajas: manejo de efectivo, tarjetas de débito y crédito, medios de pagos digitales, atención al cliente, eventuales tareas de reposición.
            Auxiliar de supervisión: arqueos y cierres de caja, manejo de gran caudal de efectivo, cierre del local, control libro IVA ventas, control Z, informes, etc.)
             Premio al esfuerzo, compromiso y dedicación año 2016 por asistencia perfecta en el periodo 2015
            </p>
        </ul>
        <ul>
            <li><h1>Oficina Laboral Lamelza </h1> - <h3> (07-2017) / (02-2019)</h3></li>
            <p> Tareas administrativas y liquidaciones de sueldo en estudio laboral. Tareas: control de asignaciones familiares, trámites varios (anses, afip, ministerio de trabajo, sindicales, obras sociales) aportes y contribuciones, rúbrica de hojas móviles/libros de sueldos y planillas horarias.</p>
        </ul>
    </div>
</div> 