<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
    <h2>CuchiBot</h2>
    <p>"Cuchi CaldeBot, bot no oficial de Undinamo.com, te opina sobre cualquier cosa"</p>
</div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
    <img src="https://martinfauciprogramacion.on.drv.tw/CuchiBot/banner.jpg" class="img-fluid img-proyecto">
</div>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h2>RodriBot G.F</h2>
<p>"RodriBot G.F, bot no oficial de Undinamo.com te opina sobre la película que quieras"</p>
</div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="https://martinfauciprogramacion.on.drv.tw/rodribot/banner.png" class="img-fluid img-proyecto">
</div>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h2>PortFolio Personal</h2>
<p>"Version anterior de este Portfolio hecho como trabajo integrador final para Argentina Programa"</p>
</div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="https://img001.prntscr.com/file/img001/CyTvfiGvRqmhWf84syA2Xw.png" class="img-fluid img-proyecto">
</div>
<div class="contenedor">
    <div class="col-sm-12 col-md-7 col-lg-7 parte1">
<h2>Pagina Personal + CV</h2>
<p>"Landing Page personal con CV para descargar e información sobre mis aptitudes"</p>
</div>
<div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
<img src="https://img001.prntscr.com/file/img001/QCdGJKwfSn6-yUbe16oNVg.png" class="img-fluid img-proyecto">
</div>
</div>
</div>